@font-face {
  font-family: "ark-pixel";
  src: url("./assets/fonts/ark-pixel-12px-monospaced-zh_cn.otf");
}

div[data-pb] {
  clip-path: polygon(0px calc(100% - 8px),
    2px calc(100% - 8px),
    2px calc(100% - 4px),
    4px calc(100% - 4px),
    4px calc(100% - 2px),
    8px calc(100% - 2px),
    8px 100%,
    calc(100% - 8px) 100%,
    calc(100% - 8px) calc(100% - 2px),
    calc(100% - 4px) calc(100% - 2px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 2px) calc(100% - 4px),
    calc(100% - 2px) calc(100% - 8px),
    100% calc(100% - 8px),
    100% 8px,
    calc(100% - 2px) 8px,
    calc(100% - 2px) 4px,
    calc(100% - 4px) 4px,
    calc(100% - 4px) 2px,
    calc(100% - 8px) 2px,
    calc(100% - 8px) 0px,
    8px 0px,
    8px 2px,
    4px 2px,
    4px 4px,
    2px 4px,
    2px 8px,
    0px 8px);
  position: relative;
}
div[data-pb] {
  border: 2px solid transparent;
}
div[data-pb] {
  width: fit-content;
  height: fit-content;
}
div[data-pb] .pixel-corners {
  display: block;
  clip-path: polygon(2px 8px,
    4px 8px,
    4px 4px,
    8px 4px,
    8px 2px,
    calc(100% - 8px) 2px,
    calc(100% - 8px) 4px,
    calc(100% - 4px) 4px,
    calc(100% - 4px) 8px,
    calc(100% - 2px) 8px,
    calc(100% - 2px) calc(100% - 8px),
    calc(100% - 4px) calc(100% - 8px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 8px) calc(100% - 2px),
    8px calc(100% - 2px),
    8px calc(100% - 4px),
    4px calc(100% - 4px),
    4px calc(100% - 8px),
    2px calc(100% - 8px));
}
div[data-pb]::after,
div[data-pb]::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 8px),
    2px calc(100% - 8px),
    2px calc(100% - 4px),
    4px calc(100% - 4px),
    4px calc(100% - 2px),
    8px calc(100% - 2px),
    8px 100%,
    calc(100% - 8px) 100%,
    calc(100% - 8px) calc(100% - 2px),
    calc(100% - 4px) calc(100% - 2px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 2px) calc(100% - 4px),
    calc(100% - 2px) calc(100% - 8px),
    100% calc(100% - 8px),
    100% 8px,
    calc(100% - 2px) 8px,
    calc(100% - 2px) 4px,
    calc(100% - 4px) 4px,
    calc(100% - 4px) 2px,
    calc(100% - 8px) 2px,
    calc(100% - 8px) 0px,
    8px 0px,
    8px 2px,
    4px 2px,
    4px 4px,
    2px 4px,
    2px 8px,
    0px 8px,
    0px 50%,
    2px 50%,
    2px 8px,
    4px 8px,
    4px 4px,
    8px 4px,
    8px 2px,
    calc(100% - 8px) 2px,
    calc(100% - 8px) 4px,
    calc(100% - 4px) 4px,
    calc(100% - 4px) 8px,
    calc(100% - 2px) 8px,
    calc(100% - 2px) calc(100% - 8px),
    calc(100% - 4px) calc(100% - 8px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 8px) calc(100% - 2px),
    8px calc(100% - 2px),
    8px calc(100% - 4px),
    4px calc(100% - 4px),
    4px calc(100% - 8px),
    2px calc(100% - 8px),
    2px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #202020;
  display: block;
  pointer-events: none;
}
div[data-pb]::after {
  margin: -2px;
}